/* style sheet for homework */



.topnav {
    overflow: hidden;
    background-color: cadetblue;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: cadetblue;
  }
  
  .topnav a.active {
    background-color:cadetblue;
    color: white;
  }

article {
    display: block;
    background-color: cadetblue;
    padding: 20px;
    border: dotted 3px black;
    margin: 50px;
    font-family: Century 'Franklin Gothic Medium';
    text-align: center;
    color: #f2f2f2;
}

section {
    display: block;
    padding: 20px;
    border: dashed 3px black;
    margin: 50px;
    font-family: Century 'Franklin Gothic Medium';
}

form {
    margin: 50px;
    align-content: center;
}

input {
    width: 90%;
    height: 30px;
    border-radius: 20px; 
    border: dotted 1px grey; 
    padding: 20px;
    background-color: #ddd; 
    opacity: 50%;
}

button {
    height: 45px;
    border-radius: 15px;
    background-color: cornflowerblue;
    width: 75px;
    text-emphasis: bold; 
}

div { 
    display: block; 
    text-align: center;
    padding: 20px;
    margin: 50px;
    font-family: Century 'Franklin Gothic Medium';

}

aside  {
    display: block;
    font-family: Century 'Franklin Gothic Medium';   
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    height: 50px;
    padding: 20px;
    font-family: Century 'Franklin Gothic Medium';
}